<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Git A Job</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&family=Ysabeau+SC:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      
      <div id="container">
        <img src="/assets/gitajob.svg">
       <nav>
          {{#if logged_in}}
          <ul>
            <li><a href="/">All Posts</a></li>
            <li><a href="/new-post">Make A New Post</a></li>
            <li><button class="no-button" id="logout">Logout</button></li>
          </ul>
          {{/if}}
        </nav>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
