<div>
    {{#each posts as |post| }}
    <div>
        <h1>{{post.subject}}</h1>
        <h2>{{post.message}}</h2>
        <h2>Post made by: {{post.user.name}}</h2>
    </div>

    {{#if post.isUsersPost}} 
    <div class="post-list">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}" type="click">DELETE</button>
    </div>
    {{/if}} 

    {{/each}}
</div>

<script src="js/delPost.js"></script>