<form class="form new-post-form">
  <div class="subject">
    <label for="post-subject">Subject:</label>
    <input class="form-input" type="text" id="post-subject" placeholder="Enter Subject"/>
  </div>

  <div class="message">
    <label for="post-message">Message:</label>
    <input class="form-input" type="text" id="post-message" placeholder="Enter Message"/>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Post</button>
  </div>
</form>

<script src="/js/createPost.js"></script>