* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #01411c;
  cursor: pointer;
  font-family: 'Ysabeau SC', sans-serif;
}

.signin-page-forms {
  align-items: center;
}

.signup-form {
  padding-top: 30px;
}

.signin-page-forms h2 {
  color: white;
}

.signin-page-forms h4 {
  color: #e9b72f;
}

body {
  font-size: 25px;
  background-color: #0a2616;
  color: white;
  display: grid;
  border-radius: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  padding: 10%;
  justify-content: center;
}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.signup-form {
  padding-left: 20px;
}

.login-form .btn-primary,
.signup-form .btn-primary {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px auto;
}

.btn-primary:hover {
cursor: pointer;
}

img {
  position: relative;
  width: 120%;
  max-width: 900px;
  height: auto;
  display: block;
  margin: 0 -7%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  justify-content: space-around;
}

li {
  list-style: none;
}

nav ul li a {
  color: #e9b72f;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  font-family: "Play", sans-serif;
}

nav ul li a::after {
  content: " ";
  width: 0;
  height: 5px;
  background: #e9b72f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

div{
  display: grid;
}

.post-subject {
  font-size: 50px;
  font-family: 'Ysabeau SC', sans-serif;
}

.post-message {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

.post-info {
  padding-top: 10%;
  font-size: 20px;
  color: #4f4f4f
}

#post-subject,
#post-message {
  width: 600px;
}

input{
  font-size: 25px;
}

#title {
  color: #e9b72f;
  outline: black;
  text-align: center;
  font-size: 50px;
}

#post-list {
  display: grid;
  border-radius: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  padding-right: 10%;
  justify-content: center;
}


#post-list div:hover { 
  transform: translateY(-5px);
  cursor: pointer;
}


.post-container {
  background-color: lightgray;  
  color: black;
  justify-content: center;
  margin: 20px;
  /* outline: solid rgb(233, 183, 47); */
  padding: 40px;
  font-size: 23px;
  font-weight: 300;
  border-radius: 30px;
  /* transition: background 0.5s, transform 0.5s; */
}

 
/* .subject{
  font-size: 25px;
  color: #01411c;
  font-family: 'Ysabeau SC', sans-serif;
} */

.no-button {
  display: inline-block;
  background: #01411c;
  font-size: 30px;
  width: 100px;
  margin: 0 0.5%;
  font-size: 100%;
  color: #e9b72f;
  border: 1px solid #e9b72f;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px;
  align-items: right;
  font-family: Play, sans-serif;
}

.btn-danger {
  display: inline-block;
  background: #01411c;
  font-size: 15px;
  width: 150px;
  margin: 0 0.5%;
  font-size: 100%;
  color: #e9b72f;
  border: 1px solid #e9b72f;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px;
  align-items: right;
  position: relative;
}

/* .subject,
.message {
  color: rgb(233, 183, 47);
  flex-basis: 35%;
  font-size: 30px;
} */

.contact-left p {
  margin-top: 30px;
}
.contact-right form {
  width: 100%;
}

.subject,.message {
  margin: 20px;
  background-color: lightgray;
  border-radius: 10px;
  color: black;
  justify-content: center !important;
  flex-basis: 35%;
  font-size: 30px;
  font-family: 'Ysabeau SC', sans-serif;
}

.make-comment {
  font-size: 15px !important;
}

.make-comment:hover {
  text-decoration: none;
  color:#e9b72f;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .form-group label {
  margin-bottom: 5px;
} */

.form-input {
  width: 100%;
}

.form-group .form-input {
  margin-bottom: 40px;
}


@media screen and (max-width: 775px) {
  .signup-form,
  .login-form {
    width: 100%;
    max-width: 300px;
    margin: 30px auto 0 auto;
  }

  .signin-page-forms {
    flex-direction: column;
    align-items: center;
  }

  .signup-form {
    margin-top: 50px;
  }
}

@media screen and (max-width: 725px) {
  .signin-page-forms {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signin-page-forms .login-form {
  margin-right: 20px; /* Adjust the margin as needed */
  }

  .signup-form,
  .login-form {
    width: 100%;
    max-width: 300px;
  }
}

/* .form-group{
    justify-content: center;
    background: #01411c;
    font-size: 25px;
    width: 100px;
    margin: 0 0.5%;
    font-size: 100%;
    color: rgb(233, 183, 47);
    border: 1px solid rgb(233, 183, 47);
    cursor: pointer;
    border-radius: 10px;
    padding: 14px;
    align-items: right;
} */
